<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soundaker - Official Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding: 80px 120px;
        }
        .person {
            border: 7px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.8;
        }
            .person:hover {
                border-color: #f1f1f1;
            }
    </style>
</head>
<body>

    <div class="container text-center">
        <h3>SOUNDAKER</h3>
        <p><em>Music is my passion</em></p>
        <p class="w3-justify">
            Welcome to my official website!<br />
            Here you will get to know me better as an artist but let me introduce myself first. I'm <em>Alberto</em>, a Spanish guy from <em>Barcelona</em>.
            I'm in love with music and everything related to it as you're gonna see. I consider myself as a <em>jack-of-all-trades</em> (master of none but pretty good at some of them, if I may say).
            What do I like to do? If i had been born in Middle Ages I would be considered as a minstrel. I play <em>musical instruments</em>, <em>sing</em>, <em>dance</em> and do <em>funny stuff</em>, mainly.
            In the begginnig I started playing the classical guitar but then I discovered beatbox. After that, I bought an electric guitar and started playing some metal.
            I loved metal but at the same time I couldn't cope without listening to electronic music and I liked to dance, so I started learning some shuffle moves.
            I was curious about bass guitar so I picked one up and started plucking with my fingers.
            And the list keeeeeeeeps on going. What's gonna be next? Who knows...
        </p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <img src="static/images/soundaker1.jpg" class="img-circle person" alt="Soundaker 1" width="255" height="255">
            </div>
            <div class="col-sm-4">
                <img src="static/images/soundaker2.jpg" class="img-circle person" alt="Soundaker 2" width="255" height="255">
            </div>
            <div class="col-sm-4">
                <img src="static/images/soundaker3.jpg" class="img-circle person" alt="Soundaker 3" width="255" height="255">
            </div>
        </div>
    </div>

</body>
</html>