<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soundaker - Official Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding: 80px 120px;
        }
    </style>
</head>
<body>

    <div class="container text-center">
        <h3>SOUNDAKER</h3>
        <p><em>Music is my passion</em></p>
        <p>We have created a fictional band website. Lorem ipsum..</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <img src="static/images/soundaker1.jpg" alt="Soundaker 1" width="255" height="255">
            </div>
            <div class="col-sm-4">
                <img src="static/images/soundaker2.jpg" alt="Soundaker 2" width="255" height="255">
            </div>
            <div class="col-sm-4">
                <img src="static/images/soundaker3.jpg" alt="Soundaker 3" width="255" height="255">
            </div>
        </div>
    </div>

</body>
</html>